.main
  .side-bar
    .flame
      = form_for [@tweet] do |f|
        = f.text_field :body, class: 'form__message', placeholder: 'マハロを残そう！'
        .form__image
          = f.label :image, class: 'form__image' do
            = icon('fas', 'image', class: 'submit-icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'body submit'
        
    .ranking


  .main_tweet
    .title
      .recent_tweet
        =  "最近のマハロ"
      .search
        = "みんなのマハロ"
    .tweets
      .outline
        .profile-icon
        .user-name
          = ": 山下さん"
        .detail
          .upper
            .time-tag
              = "2020/06/12(Fri) 12:06:03"
          .lower
            .target-name
              = "From : Oさん"
            .tag-name
              = "＃テックキャンプ"       
      .body
        .text
          = "19時40分の疲れた顔を褒めてもらえた"  
        .icon
          <i class="fas fa-comment fa-fw fa-lg "></i>
          <i class="far fa-thumbs-up fa-fw fa-lg faa-tada animated"></i>

    .tweets
      .outline
        .profile-icon
        .user-name
          = ": 山下さん"
        .detail
          .upper
            .time-tag
              = "2020/06/12(Fri) 12:06:03"
          .lower
            .target-name
              = "From : Oさん"
            .tag-name
              = "＃テックキャンプ"       
      .body
        .text
          = "朝の眠そうな顔を褒めてもらえた"  
        .icon
          <i class="fas fa-comment fa-fw fa-lg "></i>
          <i class="far fa-thumbs-up fa-fw fa-lg faa-tada animated"></i>