.top-bar
  .logo
  .bunsho
    = "日々のささやかなマハロ(感謝)を残そう"
  .profile
    .my-icon
    .center-box
      .name
        = "　木下さん"
      .logout
        = "　ログアウトする"
    = link_to "#" do
      = icon('fas', 'cog', class: 'icon')